@value color_main, color_gray, color_black from '../common/colors.css';
@value header_height, header_padding, response_max_width, response_max_height, header_font from '../common/set.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.header {
  height: header_height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: header_padding;
  background-color: color_main;
}

.transparent {
  height: header_height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: header_padding;
}

.back_iconWhite {
  font-size: 2rem;
  margin: auto 0;
  color: color_main;
}

.back_icon {
  font-size: 2rem;
  margin: auto 0;
  color: color_black;
}

.back_icon:hover, .back_iconWhite:hover {
  cursor: pointer;
}

@media screen and (max-width: response_max_width) {
  .back_iconWhite, .back_icon {
    font-size: header_font;
  }
}

@media screen and (max-height: response_max_height) {
  .header, .transparent {
    padding-top: 2.5rem;
  }

  .back_iconWhite, .back_icon {
    font-size: header_font;
  }
}