@value color_main from '../../common/colors.css';
@value content_b_height, response_max_width, response_max_height, reponse_font_size, basic_padding from '../../common/set.css';

.content {
  height: content_b_height;
  color: color_main;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: basic_padding;
}

.display_content {
  margin: 0;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  white-space: pre-line;
}

@media screen and (max-width: response_max_width) {
  .display_content {
    font-size: reponse_font_size;
  }
}

@media screen and (max-height: response_max_height) {
  .display_content {
    font-size: reponse_font_size;
  }
}